.container {
  position: absolute;
  top: 90%;
  width: 100%;
  img {
    width: 70px;
    height: 70px;
    background: red;
  }
  .container-buttons {
    display: flex;
    justify-content: center;
    .container-buttons-button {
      // margin-left: 10px;
      // margin-right: 10px;
    }
  }
}
