<div class="container">
  <div class="container-buttons">
    <div (click)="turnOnCam()" class="container-buttons-button">
      <img src="assets/imgs/turn_on.png" alt="Turn on Cam">
    </div>
    <div class="container-buttons-button">
      <img  routerLink="facedetect"  src="assets/imgs/face_detected.jpg" alt="">
    </div>
    <div class="container-buttons-button">
      <img routerLink="tesseract" src="assets/imgs/tesseract.png" alt="Tesseract">
    </div>
    <div class="container-buttons-button">
      Bottoes
    </div>
  </div>
</div>
