.container-video{

    display: flex;
    justify-content: center;
    flex-direction: column;
        margin-top: calc(50vh - 200px);
    div{
      margin-left: auto;
      margin-right: auto;
    }
  canvas{
    border: #635252ef 2px solid;
    border-radius: 15px;
  }
}
